.notification {
  position: absolute;
  z-index: 5;
  background: var(--background-surface-default);
  padding: 16px 16px 16px 48px;
  border-radius: 12px;
  border: 1px solid var(--border-action-normal);
  /* box-shadow: 0 4px 4px #00000040; */
  box-shadow:
    0 10px 10px -3px #14151a14,
    0 3px 6px -2px #14151a0d;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease-out,
    visibility 0.2s ease-out;
}

.top {
  right: 10px;
  top: 70px;
}

.bottom {
  right: 12px;
  bottom: 78px;
}

.open {
  visibility: visible;
  opacity: 1;
}

.withCross {
  padding: 16px 48px;
}

.notificationLoader {
  width: 20px;
  height: 20px;
}

.cross {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 4px;
  cursor: pointer;
  color: #696b76;
  width: 20px;
  height: 20px;
}

.notificationIcon {
  position: absolute;
  top: 16px;
  left: 16px;
}
