.icon {
	width: 48px;
	height: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;

	transition: all 0.3s ease;

	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.iconActive {
	background-color: #f7f7f8;
	color: #924fe8;
	/* outline-offset: -1px;
	outline: 1px solid #e9eaec; */

	border-color: #e9eaec;
}

.icon:first-child {
	border-radius: 12px 0 0 12px;
}

.icon:hover {
	cursor: pointer;
	background-color: #f7f7f8;
}

.icon svg {
	transition: all 0.3s ease;
}

/* .icon:hover svg {
	transform: scale(0.9);
} */

.icon:active {
	box-shadow: inset 0px 0px 0px 2px #b78af0;
}

.icon:not(:last-child) {
	border-right: 1px solid #e9eaec; /* Adjust color and width as needed */
}
