.button {
	padding: 6px 8px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 4px;
	width: 100%;
	border: none;
	cursor: pointer;
	background: none;
	transition: 0.3s;
}

.text {
	flex: 1 0;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
}

.context {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: none;
	transition: 0.3s;
}

@media (hover: hover) {
	.button:hover {
		background-color: rgba(10, 15, 41, 0.04);
	}
	.context:hover {
		background-color: rgba(10, 15, 41, 0.04);
	}
}

.active::before {
	content: "";
	position: absolute;
	display: block;
	width: 4px;
	height: 8px;
	border-radius: 2px;
	background-color: rgba(146, 79, 232, 1);
	top: 50%;
	transform: translateY(-50%);
	left: -2px;
	z-index: 10;
}
