.passwordChanged {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.error {
  color: #e6483d;
  margin-bottom: 12px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
  color: white;
}

.submit {
  margin-top: 32px;
}

.btns {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .submit {
    margin-top: 24px;
  }

  .passwordChanged {
    gap: 32px;
  }
}
