.menu {
	position: absolute;
}

.item {
	background: none;
	display: flex;
	align-items: center;
	border-radius: 6px;
	gap: 8px;
	padding: 6px;
	width: 220px;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1.4rem;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #696b76;
}

.item:disabled,
.item:disabled .icon {
	color: rgba(10, 15, 41, 0.25);
	cursor: not-allowed;
}

@media (hover: hover) {
	.item:hover:not(:disabled) {
		background-color: rgba(10, 15, 41, 0.04);
	}
}
