.frameNavIcon {
	color: #696b76;
}

.frameNavIconPrev {
	transform: rotate(180deg);
}

.bold {
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	.contextPanelButton {
		--min-width: 28px;
		--min-height: 28px;
		--padding: 4px;
	}
}
