.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 16px;
}

.boardsText {
  margin-bottom: 24px;
  max-width: 680px;
}

.teamBoards {
  margin-bottom: 16px;
}

.text {
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 16px;
}

.boards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;
  max-height: calc(90vh - 272px);
  overflow-y: scroll;
}

.boards::-webkit-scrollbar {
  width: 8px;
}

.boards::-webkit-scrollbar-track {
  background: #fff;
}

.boards::-webkit-scrollbar-thumb {
  background: #dee1e8;
  border-radius: 2px;
}

.boards::-webkit-scrollbar-thumb:hover {
  background: rgba(146, 79, 232, 0.5);
}

.board {
  cursor: pointer;
  align-self: end;
  border-radius: 12px;
  max-width: 275px;
  width: 100%;
  padding: 15px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 55%,
    rgba(238, 238, 238, 1) 100%
  );
}

.img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.imgPlaceholder {
  background-color: rgb(146, 79, 232, 0.5);
  height: 150px;
  width: 100%;
  border-radius: 20px;
}

.name {
  margin-top: 15px;
  text-align: left;
  word-break: break-all;
}

.btn {
  margin: 16px auto 0;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.itemsBtn {
  max-width: min-content;
  padding: 0 12px;
  font-weight: 600 !important;
}

.notificationIcon {
  position: absolute;
  top: 16px;
  left: 16px;
}

.notificationTitle {
  font-weight: 500;
}

.notificationLoaderWr {
  max-width: 326px;
}

.notificationWr {
  max-width: 294px;
}

.notificationText {
  margin-top: 4px;
  color: rgba(15, 19, 36, 0.6);
}

.notificationBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notificationBtn {
  margin-top: 12px;
  max-width: max-content;
  padding: 0 10px;
}

.notificationSuccessDescription {
  margin-top: 4px;
  opacity: 0.6;
}

.notificationSuccessLink,
.notificationSuccessDescription {
  color: #0f1324;
}

.notificationSuccessLink {
  text-decoration-thickness: 0.5px;
}

.loader {
  animation: loaderAnimation 1s infinite steps(12);
}

@keyframes loaderAnimation {
  100% {
    transform: rotate(1turn);
  }
}
