.menu {
	/* width: 16.8rem; */
	gap: 1.6rem;
}

.panel {
	display: flex;
	justify-content: space-between;
	padding: 0.4rem;
}

.slider {
	padding: 0 0.4rem;
}

.slider-label {
	font-size: 1.2rem;
	color: rgb(51, 51, 51);
	font-weight: 400;
	padding-top: 0.8rem;
}

.colors {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.4rem;
}
