.title {
	font-family: "Manrope", "Arial";
	font-weight: 600;
	text-align: center;
	margin-bottom: 32px;
}

.description {
	font-family: "Manrope", "Arial";
	margin-bottom: 16px;
	display: flex;
	gap: 12px;
}

.submitBtn {
	margin-top: 32px;
}

.btns {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.requested {
	width: 500px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.backToLogin {
	margin-top: 32px;
}

.resetPassword {
	font-weight: 600;
	font-size: 48px;
	margin: 0;
	padding: 0;
}

.resetPasswordParagraph {
	font-weight: 500;
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.submitBtn {
		margin-top: 24px;
	}

	.title {
		margin-bottom: 24px;
	}

	.requested {
		width: 100%;
	}

	.resetPassword {
		font-size: 30px;
		font-weight: 600;
	}

	.resetPasswordParagraph {
		font-size: 16px;
		text-align: center;
	}

	.backToLogin {
		margin-top: 32px;
	}
}
