.panel {
	position: absolute;
	bottom: var(--absolute-position-panel-padding);
	right: var(--absolute-position-panel-padding);
}

.zoom {
	font-weight: 500;
	font-size: 1.6rem;
	min-width: 65px;
}

.defaultPosition {
	bottom: var(--absolute-position-panel-padding) !important;
	right: var(--absolute-position-panel-padding) !important;
}

@media screen and (max-width: 1200px) {
	.tableHide {
		display: none;
	}

	.zoomToFit {
		border-radius: var(--radius);
	}
}

@media screen and (max-width: 550px) {
	.panel {
		bottom: calc(var(--absolute-position-panel-padding) * 2 + 48px);
	}
}
