.default {
	--background-color: rgba(146, 79, 232, 1);
	--background-hover-color: rgb(115, 29, 226);
	--background-active-color: rgb(115, 29, 226);

	--content-color: rgba(255, 255, 255, 1);
	--content-hover-color: rgba(255, 255, 255, 1);
	--content-active-color: rgba(255, 255, 255, 1);
}

.secondary {
	--background-color: var(--background-button-secondary);
	--background-hover-color: var(--background-button-secondary-hover);
	--background-active-color: var(--background-button-secondary-hover);

	--content-color: var(--text-base-primary);
	--content-hover-color: var(--text-base-primary);
	--content-active-color: var(--icon-accent-purple);
	--content-disabled-color: var(--text-base-quaternary);

	--focus-outline-color: var(--border-action-focus);
}

.tertiary {
	--background-color: rgb(245, 246, 247);
	--background-hover-color: rgb(236, 236, 238);
	--background-active-color: rgb(236, 236, 238);

	--content-color: var(--text-base-primary);
	--content-hover-color: var(--text-base-primary);
	--content-active-color: var(--text-base-primary);
	--content-disabled-color: var(--text-base-quaternary);

	--focus-outline-color: var(--border-action-focus);
}

.lg {
	--min-width: 48px;
	--min-height: 48px;
	--radius: 12px;
	--padding: 0 12px;
}

.md {
	--min-width: 32px;
	--min-height: 32px;
	--radius: 4px;
	--padding: 0 4px;
}

.sm {
	--min-width: 32px;
	--min-height: 32px;
	--radius: 10px;
	--padding: 4px;
	font-size: 14px;
}

.fullRounded {
	border-radius: var(--radius);
}

.topRounded {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.bottomRounded {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.leftRounded {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

.rightRounded {
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: var(--min-width);
	min-height: var(--min-height);
	padding: var(--padding);
	border: none;
	cursor: pointer;
	transition: background ease-in 0.2s, color ease-in 0.2s;
	outline: none;
	background-color: var(--background-color);
	color: var(--content-color);
}

.button:focus-visible {
	outline: var(--focus-outline-color) solid 3px;
	z-index: 30;
}

@media (hover: hover) {
	.button:hover {
		background-color: var(--background-hover-color);
		color: var(--content-hover-color);
	}
}

.button.active:not([disabled]),
.button:active:not([disabled]) {
	background-color: var(--background-active-color);
	color: var(--content-active-color);
}

.button:disabled {
	color: var(--content-disabled-color);
}

.hotkey {
	color: rgb(246, 246, 246);
	flex: 1 0;
	white-space: nowrap;
	padding: 0 4px;
	border-radius: 2px;
	background-color: rgb(94, 99, 110);
}

.tip-container {
	display: none;
	position: absolute;
	user-select: none;
	pointer-events: none;
	justify-items: center;
	z-index: 200;
}

.button:hover .tip-container {
	display: flex;
}

.tip {
	padding: 8px 12px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 1.4rem;
	font-weight: 400;
	background-color: rgb(11, 12, 14);
	color: rgb(247, 247, 247);
}

.tip-text {
	flex: 1 0;
	white-space: nowrap;
}

.tip::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 0.8rem solid rgb(11, 12, 14);
	border-radius: 8px;
}

.tip-container.right .tip::before {
	left: -0.8rem;
	transform: rotate(-90deg);
}

.tip-container.right {
	left: calc(100% + 1.2rem);
}

.tip-container.top .tip::before {
	left: 50%;
	margin-left: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top {
	bottom: calc(100% + 1.2rem);
}

.tip-container.top-right .tip::before {
	right: 2.5rem;
	margin-right: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top-right {
	bottom: calc(100% + 1.2rem);
	right: -1rem;
}

.tip-container.bottom-right .tip::before {
	right: 2.5rem;
	margin-right: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom-right {
	top: calc(100% + 1.2rem);
	right: -1rem;
}

.tip-container.bottom-left .tip::before {
	left: 2.5rem;
	margin-right: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom-left {
	top: calc(100% + 1.2rem);
	left: -1rem;
}

.tip-container.bottom .tip::before {
	left: 50%;
	margin-left: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom {
	top: calc(100% + 1.2rem);
}
