.panel {
	position: absolute;
	bottom: 1.2rem;
	right: 1.2rem;
}

.zoom {
	font-weight: 500;
	font-size: 1.6rem;
	min-width: 65px;
}

@media screen and (max-width: 640px) {
	.tableHide {
		display: none;
	}

	.zoomToFit {
		border-radius: var(--radius);
	}
}
