.btn {
	border: none;
	outline: none;
	justify-content: space-between;
	border-radius: 6px;
	font-family: "Manrope", "Arial";
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding: 6px;
	width: 100%;
	display: flex;
	align-items: center;
	min-width: 168px;
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}

.buttonWithMenu {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
}

.separator {
	transform: translateX(-4px);
	width: calc(100% + 8px);
}

.btn:hover {
	background-color: rgba(10, 15, 41, 0.04);
}
