.submitBtn {
	min-width: 20px;
	min-height: 20px;
	padding: 0;
	margin-left: 10px;
	background: transparent;
}

.submitBtn.active {
	background: transparent;
}

.submitBtnWrapper {
	position: relative;
}

.submitBtnSeparator {
	position: absolute;
	height: 40px;
	top: -10px;
}

.wrapper {
	width: 100%;
}

.InputContainer {
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: #0a0f290a;
	padding: 2px;
	margin-top: 6px;
}

.InputContainer:focus-within {
	outline: none;
	border: none;
}

.editModeButtons {
	display: flex;
	justify-content: space-between;
}

.editModeButtons > div {
	display: flex;
	gap: 12px;
}

.editModeButtons button {
	border: none;
	outline: none;
	background: none;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #14151a;
	cursor: pointer;
}

.saveBtn {
	color: #4778f5 !important;
}

.deleteBtn {
	color: #e6483d !important;
}
