.AuthView {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;

	font-family: "Manrope", "Arial";
}

.AuthView .Navbar {
	width: 1280px;
}

.AuthView .Content {
	margin-top: 216px;
	width: 500px;
	height: 100%;
}

@media (max-width: 640px) {
	.AuthView .Navbar {
		width: 100%;
	}

	.AuthView .Content {
		width: 100%;
		padding: 0 12px;
		margin-top: 150px;
	}
}

@media screen and (max-width: 1280px) {
	.AuthView .Content {
		width: 500px;
		padding: 0 12px;
		margin-top: 150px;
	}

	.AuthView .Navbar {
		width: 100%;
	}
}
