.title {
	font-size: 36px;
	line-height: 1.22;
	margin-bottom: 16px;
}

.text {
	font-size: 14px;
	line-height: 1.43;
	margin-bottom: 16px;
}

.img {
	width: 100%;
	margin-bottom: 16px;
	max-height: 270px;
	min-height: 212px;
	height: calc(90vh - 671px);
	position: relative;
	text-align: left;
}

.img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
