.folder {
  position: relative;
}

.wrapper {
  width: 100%;
  position: relative;
}
.header {
  display: flex;
  gap: 8px;
  color: var(--text-base-primary);
  font-size: 14px;
  align-items: center;
  font-weight: 500;
  padding: 6px 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 10px;
  font-family: Manrope;
  width: 100%;
}

.header.over {
  background-color: var(--background-hover-subtle);
}

@media screen and (hover: hover) {
  .header:hover {
    background-color: var(--background-hover-subtle);
  }
}

.icon {
  color: var(--icon-base-secondary);
  display: flex;
  align-items: center;
  gap: 4px;
}

.noContent {
  color: var(--text-disabled);
  font-weight: 500;
  font-size: 14px;
}

.contentWrapper {
  padding-left: 18px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.content {
  border-left: 1px solid var(--border-action-normal);
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.fadeEnter {
  opacity: 0;
  transform: translateX(-6px);
}
.fadeEnterActive {
  opacity: 1;
  transform: translateX(0px);
  transition:
    opacity 500ms,
    transform 500ms;
}
.fadeExit {
  opacity: 1;
  transform: translateX(0);
}
.fadeExitActive {
  opacity: 0;
  transform: translateX(-6px);
  transition:
    opacity 500ms,
    transform 500ms;
}

.contextMenuBtn {
  place-items: center;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--icon-base-secondary);
  transition: background 0.3s ease;
  border-radius: 4px;
  padding: 2px;
  z-index: 5;
  display: none;
}

@media screen and (hover: hover) {
  .header:hover,
  .contextMenuBtn:hover ~ .header {
    background-color: var(--background-hover-subtle);
  }
  .contextMenuBtn:hover {
    background-color: var(--background-hover-subtle-strong);
  }

  .wrapper:hover .contextMenuBtn,
  .contextMenuBtn:hover {
    display: grid;
  }
}
