.menuPanel {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 900px;
  overflow: hidden;
}

.link {
  padding-left: 18px;
  padding-right: 18px;
  background: linear-gradient(
    270deg,
    #944fe7 0%,
    #a347e7 24.15%,
    #b240e7 66.97%,
    #c239e7 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.linksWrapper {
  display: flex;
  align-items: center;
  max-width: 0px;
  transition: max-width 0.3s ease-in-out;
}

.open .linksWrapper {
  max-width: 999px;
}

.menuPanel:not(.open) .openBtn {
  --padding: 12px 24px;
}

@media screen and (max-width: 1620px) {
  .menuPanel {
    transform: translateX(-24%);
  }
}

@media screen and (max-width: 1360px) {
  .menuPanel {
    display: none;
  }
}
