.container {
	display: flex;
	align-items: center;
	position: relative;
}

.slider {
	height: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	width: 100%;
	flex: 1;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb,
.slider::-ms-thumb {
	-webkit-appearance: none;
	height: 20px; /* Match the height of the clickable area */
	width: 20px; /* Adjust as needed */
	background: #000; /* Adjust as needed */
	cursor: pointer;
	position: relative;
	z-index: 3;
}

.slider:focus {
	outline: none;
}

.progress {
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	background-color: var(--background-accent-purple);
	transform: translateY(-50%);
	z-index: 1;
	flex: 1;
}

.slider::-webkit-slider-runnable-track,
.slider::-webkit-slider-thumb,
.slider::-moz-range-track,
.slider::-moz-range-thumb,
.slider::-ms-track,
.slider::-ms-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: rgb(233, 234, 236);
}

.slider::-webkit-slider-runnable-track,
.slider::-ms-track,
.slider::-moz-range-track {
	height: 2px;
	z-index: 0;
	position: relative;
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb,
.slider::-ms-thumb {
	width: 12px;
	height: 12px;
	margin-top: -5px;
	background-color: var(--background-accent-purple);
	border-radius: 50%;
	position: relative;
	z-index: 2;
}
