.button {
	background: none;
	width: 24px;
	height: 24px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease-out;
	cursor: pointer;
}

@media (hover: hover) {
	.button:hover {
		background-color: rgb(233, 234, 236);
	}
}

.button.active {
	background-color: rgb(233, 234, 236);
}

.button span {
	width: 25px;
	height: 25px;
	border: 1px solid rgba(31, 31, 31, 0.25);
}
