.InputWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;

	font-family: "Manrope", Arial;
	font-size: 14px;
	font-weight: 400;

	width: 100%;
}

.InputTabWrapper {
	display: flex;
	width: 100%;
}

.InputWrapper .Input {
	outline: none;
}

/* .InputWrapper .InputLabel {
} */

.InputWrapper .Text {
	min-height: 20px;
}

.InputWrapper .InputHelperText {
	font-size: 14px;
	color: rgba(15, 19, 36, 0.6);
}

.InputWrapper .InputErrorText {
	font-size: 14px;
	color: #e6483d;
}

.InputWrapper .InputSuccessText {
	font-size: 14px;
	color: rgba(38, 189, 108, 1);
}

.InputContainer {
	display: flex;
	border: 1px solid #dee0e3;
	width: 100%;

	padding: 10px 12px;
	border-radius: 12px;

	box-shadow: 0 1px 2px rgba(20, 21, 26, 0.05);
}

.InputContainer input {
	font-family: "Manrope", Arial;
	outline: none;
	font-size: 14px;

	width: 100%;
}

.InputContainer.InputSuccess {
	border: 1px solid rgba(38, 189, 108, 1);
	outline: none;
}

.InputContainer:focus-within:not(.InputSuccess) {
	outline: 2px solid rgba(200, 178, 255, 0.5);
	border: 1px solid #b78af0;
}

.InputContainer input::placeholder {
	font-family: "Manrope", Arial;
}

.InputContainer input:focus:not(.InputSuccess) {
	border-color: #b78af0;
}

.InputContainer.InputError {
	outline: none;
	border: 1px solid #f7c3c0;
}

.InputContainer.InputError:focus-within {
	outline: 1px solid rgba(255, 178, 178, 0.6);
	border: 1px solid #f7c3c0;
}

.InputPrefix {
	width: 20px;
	height: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
}

.InputPostfix {
	display: flex;
	align-items: center;
	justify-content: center;
}

.InputWrapper .Eye {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.textarea {
	font-family: "Manrope", Arial;
	outline: none;
	font-size: 14px;
	width: 100%;
	resize: none;
	overflow: hidden;
	height: 20px;
}

.InputLabel.Disabled {
	color: rgba(10, 15, 41, 0.25);
}

.Input:disabled,
.Input:disabled::placeholder {
	color: rgba(10, 15, 41, 0.25);
}
