.icon {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-button-secondary);

  transition: all 0.3s ease;

  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.iconActive {
  background-color: var(--background-button-secondary-hover);
  color: #924fe8;
  border-color: var(--border-action-normal);
}

.icon:first-child {
  border-radius: 12px 0 0 12px;
}

.icon:hover {
  cursor: pointer;
  background-color: var(--background-button-secondary-hover);
}

.icon svg {
  transition: all 0.3s ease;
}

.icon:active {
  box-shadow: inset 0px 0px 0px 2px #b78af0;
}

.icon:not(:last-child) {
  border-right: 1px solid var(--border-action-normal);
}
