.panel {
	position: absolute;
	top: -60px;
	left: var(--absolute-position-panel-padding);
}

.logoWrapper.viewMode {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

.tabletHide.viewMode {
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	/* padding: 12px 14px; */
	text-decoration: none;
	color: var(--text-base-primary);
	font-size: 16px;
	font-weight: 400;
}

.name {
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto;
	overflow: hidden;
	color: var(--text-base-primary);
	font-size: 16px;
	font-weight: 400;
}

input.rename {
	font-size: 16px;
	font-weight: 400;
}

@media screen and (max-width: 520px) {
	.mobileHide {
		display: none;
	}

	.menuButton {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}

@media screen and (max-width: 680px) {
	.tabletHide {
		display: none;
	}

	.logoWrapper {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}
