.container {
	background-color: #ffffff;
	border: 1px solid var(--border-action-normal, rgba(222, 224, 227, 1));
	border-radius: 12px;
	box-shadow: 0px 3px 10px -2px #14151a0d, 0px 10px 16px -3px #14151a0d;
	padding: 16px;
	gap: 12px;
	display: grid;
	grid-template-columns: 20px 1fr 20px;
	align-items: center;
}

.black {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 6px;
	gap: 5px;

	width: 254px;
	height: 32px;
	box-sizing: border-box;

	background: rgba(242, 70, 70, 0.1);
	border: 1px solid rgba(242, 70, 70, 0.1);
	border-radius: 6px;

	.title {
		color: #f24646;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		width: auto;
		box-shadow: none;
	}

	.content {
	}
	/* 
	position: absolute;
	width: 254px;
	left: calc(50% - 254px/2 - 86px);
	top: 628px;
	bottom: 20px; */
}

.content {
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex: 1 1 290px;
	width: 290px;
}

.icon {
	margin-top: 3px;
	align-self: flex-start;
}

.closeButton {
	--padding: 4px;
	--radius: 0;
	--min-width: 28px;
	--min-height: 28px;
	color: var(--text-base-primary);
	align-self: flex-start;
}

.title {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: var(--text-base-primary);
}

.description {
	font-size: 14px;
	line-height: 20px;
	color: var(--text-base-secondary);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
