.editor-container {
	position: relative;
}

.scroll-container {
	scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}

.editor-container::before {
	content: attr(data-placeholder);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	opacity: 0.33;
	max-width: 100%;
	text-decoration: none;
	user-select: none;
	pointer-events: none;
	font-size: inherit;
	align-items: center;
	display: none;
	overflow: hidden;
}

.show-placeholder.editor-container::before {
	display: flex;
}

.limit-warning {
	position: absolute;
	transform-origin: left top;
	user-select: none;
	opacity: 0;
}

.limit-warning.show {
	opacity: 0.5;
	animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
	0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
	}
}
