.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.menu {
	position: absolute;
	z-index: 20;

	--offset: 0px;
}

.offset {
	--offset: 8px;
}

.top {
	bottom: calc(100% + var(--offset));
}

.bottom {
	top: calc(100% + var(--offset));
}

.offset-left {
	left: calc(100% + var(--offset));
}

.offset-right {
	right: calc(100% + var(--offset));
}

.middle {
	top: 50%;
	transform: translateY(-50%);
}

.opened {
	visibility: visible;
}

.closed {
	visibility: hidden;
}
