.card {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #dee0e3;
	font-family: "Manrope", Arial;
	color: #14151a;
	cursor: pointer;
}

.btn {
	font-family: Manrope;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #0f132499;
	background: none;
	border: none;
	margin-left: 52px;
	cursor: pointer;
}

.btn.highlighted {
	color: #4778f5;
}

.firstMessage {
	padding-bottom: 8px;
}

.firstMessage:hover {
	background-color: #0a0f290a;
}
