.title {
	font-size: 36px;
	line-height: 1.22;
	margin-bottom: 16px;
}

.text {
	font-size: 14px;
	line-height: 1.42;
	margin-bottom: 16px;
	padding: 0 30px;
}

.boards {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(3, 31.5%);
	height: min-content;
	max-height: 70vh;
	overflow-y: scroll;
}

.boards::-webkit-scrollbar {
	width: 8px;
}

.boards::-webkit-scrollbar-track {
	background: #fff;
}

.boards::-webkit-scrollbar-thumb {
	background: #dee1e8;
	border-radius: 2px;
}

.boards::-webkit-scrollbar-thumb:hover {
	background: rgba(146, 79, 232, 0.5);
}

.board {
	cursor: pointer;
	align-self: end;
	border-radius: 12px;
	max-width: 275px;
	width: 100%;
	padding: 15px;
	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 55%,
		rgba(238, 238, 238, 1) 100%
	);
}

.img {
	width: 100%;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
}

.stubImg {
	background-color: rgb(249, 183, 180);
	height: 200px;
	width: 100%;
	border-radius: 20px;
}

.name {
	margin-top: 15px;
	text-align: left;
	word-break: break-all;
}

.btn {
	margin: 16px auto 0;
}
