.dropdown {
	position: relative;
	display: inline-block;
}
.dropdownButton {
	height: 32px;
	background: white;
	color: black;
	padding: 8px 10px;
	border: 1px solid #dee0e3;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 14px;
	font-weight: 600;
}

.dropdownButton:hover {
	background-color: #f7f7f8;
}

.dropdownButton:active {
	border: 1px solid #b78af0;
	outline: 2px solid rgba(200, 178, 255, 0.5);
}

.dropdownMenu {
	position: fixed;
	margin-top: 16px;
	padding: 12px 16px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 8px;
	border: 1px solid #dee0e3;
	box-shadow: 0 10px 16px rgba(20, 21, 26, 0.05);
}
.dropdownItem {
	color: black;
	text-decoration: none;
	display: block;
}
/* .dropdownItem:hover {
	background-color: #f1f1f1;
} */
