.wrapper {
	font-family: "Manrope", "Arial";
	width: 100%;
}

.scrollContainer {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-height: calc(90vh - 60px);
	padding-right: 6px;
	scrollbar-gutter: stable;
}

.scrollContainer::-webkit-scrollbar {
	appearance: none;
	width: 4px;
}

.scrollContainer::-webkit-scrollbar-button {
	display: none;
}

.scrollContainer::-webkit-scrollbar-thumb {
	display: block;
	background-color: rgba(222, 225, 232, 1);
	border-radius: 4px;
}

.header {
	margin-top: 8px;
	height: fit-content;
}

.backBtn {
	display: flex;
	gap: 4px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.005em;
	width: fit-content;
	color: rgba(15, 19, 36, 0.6);
	cursor: pointer;
	align-items: center;
}

.mainSection {
	margin-top: 16px;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: nowrap;
	border: 1px solid rgba(233, 234, 236, 1);
	border-radius: 16px;
	min-height: 362px;
}

.frame {
	width: 100%;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.infoBox {
	padding: 54px 24px;
	width: 362px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.infoBox > h2 {
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: -0.012em;
	word-break: break-word;
}

.description {
	color: rgba(15, 19, 36, 0.6);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.01em;
	word-break: break-word;
	display: inline-block;
	overflow-y: auto;
	max-height: 160px;
	max-width: 268px;
	scrollbar-gutter: stable;
}

.description::-webkit-scrollbar {
	appearance: none;
	width: 4px;
}

.description::-webkit-scrollbar-button {
	display: none;
}

.description::-webkit-scrollbar-thumb {
	display: block;
	background-color: rgba(222, 225, 232, 1);
	border-radius: 4px;
}

.infoBox button {
	width: 154px;
}

.relatedTemplatesHeader {
	margin-top: 16px;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.012em;
}

@media (max-width: 900px) {
	.mainSection {
		flex-wrap: wrap;
		height: fit-content;
		min-height: fit-content;
	}

	.frame {
		border-radius: 16px;
		width: 60%;
	}

	.infoBox {
		width: 100%;
		align-items: center;
		padding: 24px;
	}

	.infoBox > p {
		max-width: 100%;
		max-height: 256px;
	}
}

@media (max-width: 420px) {
	.frame {
		width: 100%;
	}
}
