.requested {
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  /* padding-bottom: 40px; */
}

.requestedIcon {
  padding-top: 40px;
}

.backToLogin {
  margin-top: 32px;
}

.resetPassword {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  margin: 0;
  padding: 0;

  line-height: 56px;
}

@media screen and (max-width: 640px) {
  .requested {
    width: 100%;
  }

  .resetPassword {
    font-size: 30px;
    line-height: 36px;
  }
}
