.menu {
  align-items: stretch;
}

.item {
  background: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 4px;
  padding: 6px;
  min-width: 220px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.4rem;
}

@media (hover: hover) {
  .item:hover {
    background: var(--background-hover-subtle-strong);
  }
}

.menuBottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hotkey {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text-base-quaternary);
  margin-left: auto;
  padding: 0 4px;
}

.text {
  font-family: "Manrope";
  font-weight: 400;
  text-wrap: nowrap;
  text-align: left;
  flex: 1 0;
  padding-right: 10px;
}

.hotkey {
  text-wrap: nowrap;
  color: var(--text-base-quaternary);
  text-align: right;
}
