.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.menu {
	position: absolute;
	z-index: 5;
}

.center {
	align-self: center;
}

.left {
	left: -0.4rem;
}

.right {
	right: -0.4rem;
}

.top {
	bottom: calc(100% + 0.8rem);
}

.bottom {
	top: calc(100% + 0.8rem);
}

.center {
	top: 50%;
	transform: translateY(-50%);
}
