.folder {
	display: grid;
	grid-template-rows: 32px 0fr;
	padding: 0 8px;
	flex: 1 1 30%;
	transition: 0.3s;
	transform-origin: top;
}

.folder.open {
	grid-template-rows: 32px 1fr;
}

.header {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 6px 8px;
	cursor: pointer;
	background: none;
}

.title {
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 500;
}

.list {
	list-style: none;
	border-left: 1px solid rgb(222, 223, 227);
	margin-left: 18px;
	overflow: hidden;
}
