.default {
	--bg-color: "transparent";
	--content-color: rgba(0, 0, 0, 0.8);
	--hover-bg-color: rgba(0, 0, 0, 0.05);
	--hover-content-color: rgba(0, 0, 0, 0.8);
	--active-bg-color: rgba(20, 129, 221, 0.1);
	--active-content-color: rgb(20, 129, 221);
	--disabled-bg-color: "transparent";
	--disabled-content-color: rgba(0, 0, 0, 0.4);
	--outline-color: rgba(128, 183, 255, 0.4);
}

.danger {
	--bg-color: rgba(223, 78, 73, 1);
	--content-color: rgba(246, 246, 246, 1);
	--hover-bg-color: rgba(196, 69, 64, 1);
	--hover-content-color: rgba(246, 246, 246, 1);
	--active-bg-color: rgba(178, 62, 58, 1);
	--active-content-color: rgba(246, 246, 246, 1);
	--disabled-bg-color: rgba(223, 78, 73, 0.5);
	--disabled-content-color: rgba(246, 246, 246, 0.5);
	--outline-color: rgba(128, 183, 255, 0.4);
}

.action {
	--bg-color: rgba(20, 129, 221, 1);
	--content-color: rgba(246, 246, 246, 1);
	--hover-bg-color: rgba(18, 114, 194, 1);
	--hover-content-color: rgba(246, 246, 246, 1);
	--active-bg-color: rgba(16, 103, 177, 1);
	--active-content-color: rgba(246, 246, 246, 1);
	--disabled-bg-color: "transparent";
	--disabled-content-color: rgba(20, 129, 221, 0.5);
	--outline-color: rgba(20, 129, 221, 0.5);
}

.secondary {
	--bg-color: rgba(159, 161, 163, 0.2);
	--content-color: rgba(0, 0, 0, 0.8);
	--hover-bg-color: rgba(159, 161, 163, 0.32);
	--hover-content-color: rgba(0, 0, 0, 0.8);
	--active-bg-color: rgba(159, 161, 163, 0.4);
	--active-content-color: rgba(0, 0, 0, 0.8);
	--disabled-bg-color: rgba(159, 161, 163, 0.1);
	--disabled-content-color: rgba(0, 0, 0, 0.4);
	--outline-color: rgba(20, 129, 221, 0.5);
}

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 3.2rem;
	min-height: 3.2rem;
	padding: 0.4rem;
	border: none;
	background-color: white;
	cursor: pointer;
	border-radius: 6px;
	transition: background ease-in 0.2s;
	outline: none;
	color: var(--content-color);
	background-color: var(--bg-color);
}

.button:focus-visible {
	outline: var(--outline-color) solid 3px;
}

@media (hover: hover) {
	.button:hover:not([disabled]) {
		background-color: var(--hover-bg-color);
		color: var(--hover-content-color);
	}
}

.button.active:not([disabled]),
.button:active:not([disabled]) {
	background-color: var(--active-bg-color);
	color: var(--active-content-color);
}

.button:disabled {
	background-color: var(--disabled-bg-color);
	color: var(--disabled-content-color);
}

.hotkey {
	color: rgba(246, 246, 246, 0.48);
	flex: 1 0;
	white-space: nowrap;
}

.tip-container {
	display: none;
	position: absolute;
	user-select: none;
	pointer-events: none;
	justify-items: center;
}

.button:hover .tip-container {
	display: flex;
}

.button:hover.active .tip-container {
	display: none;
}

.tip {
	padding: 0.8rem 1rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	font-size: 1.4rem;
	font-weight: 400;
	background-color: rgba(34, 34, 34, 1);
	color: rgba(246, 246, 246, 1);
}

.tip-text {
	flex: 1 0;
	white-space: nowrap;
}

.tip::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 0.8rem solid rgba(34, 34, 34, 1);
	border-radius: 8px;
}

.tip-container.right .tip::before {
	left: -0.8rem;
	transform: rotate(-90deg);
}

.tip-container.right {
	left: calc(100% + 1.2rem);
}

.tip-container.top .tip::before {
	left: 50%;
	margin-left: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top {
	bottom: calc(100% + 1.2rem);
}

.tip-container.top-right .tip::before {
	right: 2.5rem;
	margin-right: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top-right {
	bottom: calc(100% + 1.2rem);
	right: -1rem;
}

.tip-container.bottom .tip::before {
	left: 50%;
	margin-left: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom {
	top: calc(100% + 1.2rem);
}
