.wrapper {
	padding: 32px 64px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
}

.heading {
	font-size: 56px;
	font-weight: 600;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 1fr));
	gap: 16px;
	align-items: stretch;
}

@media (max-width: 600px) {
	.cards {
		grid-template-columns: repeat(1, minmax(320px, 1fr));
	}
}

.card {
	cursor: pointer;
	width: 100%;
	height: 100%;

	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #14151a;
	background: #ffffff;
	border: 1px solid #dee0e3;
	box-shadow:
		0px 10px 16px -3px rgba(20, 21, 26, 0.08),
		0px 3px 6px -2px rgba(20, 21, 26, 0.05);
	border-radius: 16px;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
	gap: 8px;
	isolation: isolate;
}

.card > div {
	text-align: left;
}

.inline-buttons {
	width: 100%;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
}

.description {
	font-family: "Manrope", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #0f132499;
}

.back {
	align-self: flex-start;
	flex: 1 1;
	width: auto;
	padding: 12px 16px;
}
