.heading {
	padding: 12px 30px;
	border-bottom: 1px solid rgba(222, 224, 227, 1);
	font-size: 16px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 8px;
}

.content {
	padding: 20px 16px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.h1 {
	font-size: 30px;
	font-weight: 600;
}

.cards {
	align-self: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 16px;
}

.back {
	align-self: flex-start;
	flex: 1 1;
	width: auto;
	padding: 12px 16px;
}
