.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  pointer-events: none;
  z-index: 102;
}

.header {
  color: #fff;
  pointer-events: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;
  gap: 10px;
  padding: 4px 6px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: flex;
  position: fixed;
  bottom: 2px;
  font-weight: 700;
  min-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  background: #0000004f;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
}

.stop:hover {
  background: #e04e54;
}

.svgContainer {
}

.svgLeft {
  position: absolute;
  top: 4px;
  left: -11px;
  transform: scale(3);
}

.svgRight {
  position: absolute;
  top: 4px;
  right: -11px;
  transform: scale(3);
}
