.sidePanels {
	display: flex;
	/*grid-template-columns: auto 48px;*/
	gap: var(--absolute-position-panel-padding);
	position: absolute;
	height: calc(100% - 84px);
	top: 72px;
	left: 0;
	z-index: 100;
}

.hidingPanels {
	display: flex;
	gap: 0;
}
