.header {
	display: flex;
	gap: 8px;
	color: rgba(20, 21, 26, 1);
	font-size: 14px;
	align-items: center;
	font-weight: 500;
	padding: 6px 8px;
	cursor: pointer;
	transition: background 0.3s ease;
	border-radius: 10px;
	width: 100%;
	min-width: 265px;
}

@media screen and (hover: hover) {
	.header:hover {
		background-color: rgba(10, 15, 41, 0.04);
	}
}

.icon {
	color: rgb(105, 107, 117);
	display: grid;
	place-items: center;
}

.noContent {
	color: rgba(10, 15, 41, 0.25);
	font-weight: 500;
	font-size: 14px;
}

.contentWrapper {
	padding-left: 18px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.content {
	border-left: 1px solid #dee0e3;
	padding-left: 6px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.fadeEnter {
	opacity: 0;
	transform: translateX(-6px);
}
.fadeEnterActive {
	opacity: 1;
	transform: translateX(0px);
	transition:
		opacity 500ms,
		transform 500ms;
}
.fadeExit {
	opacity: 1;
	transform: translateX(0);
}
.fadeExitActive {
	opacity: 0;
	transform: translateX(-6px);
	transition:
		opacity 500ms,
		transform 500ms;
}
