.wrapper {
	position: relative;
	background-color: #ffffff;
}

.item {
	display: flex;
	align-items: center;
	padding: 6px 8px;
	padding-right: 36px;
	position: relative;
	overflow: visible;
	color: rgba(15, 19, 36, 0.6);
	font-size: 14px;
	font-weight: 500;
	gap: 8px;
	cursor: pointer;
	transition: background 0.3s ease;
	border-radius: 10px;
	position: relative;
	font-family: Manrope;
	width: 100%;
}

.icon {
	color: rgba(105, 107, 118, 1);
	display: grid;
	place-items: center;
}

.active {
	background-color: rgba(10, 15, 41, 0.04);
}

.active::before {
	content: "";
	position: absolute;
	left: -8px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
	height: 10px;
	background-color: rgba(146, 79, 232, 1);
	border-radius: 8px;
}

.contextMenuBtn {
	place-items: center;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: rgba(105, 107, 118, 1);
	transition: background 0.3s ease;
	border-radius: 4px;
	padding: 2px;
	z-index: 5;
	display: none;
}

@media screen and (hover: hover) {
	.item:hover,
	.contextMenuBtn:hover ~ .item {
		background-color: rgba(10, 15, 41, 0.04);
	}
	.contextMenuBtn:hover {
		background-color: rgba(10, 15, 41, 0.08);
	}

	.wrapper:hover .contextMenuBtn,
	.contextMenuBtn:hover {
		display: grid;
	}
}

.title {
	max-width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
