.panel {
	transition: width 0.3s;
	position: fixed;
	right: var(--absolute-position-panel-padding);
	top: 72px;
	width: 0;
	height: calc(100% - 142px);
	overflow: hidden;
	box-shadow: none;
	border: none;
}

.panel.open {
	width: 320px;
	visibility: visible;
	box-shadow: 0px 10px 16px -3px #14151a14;
	border: 1px solid #dee0e3;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 12px 8px;
}

.title {
	font-family: Manrope;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.close {
	--padding: 4px;
	--radius: 12px;
	--min-width: 28px;
	--min-height: 28px;
	color: var(--text-base-primary);
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 8px;
}

.optionsContainer {
	font-family: Manrope;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	width: 240px;
	padding: 6px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	border-radius: 12px;
	border: 1px solid #dee0e3;
	background-color: #ffffff;
	box-shadow: 0px 10px 16px -3px #14151a14;
}

.optionsPanel {
	position: absolute;
	right: -32px;
}

.btn {
	font-family: Manrope;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 6px;
	padding: 6px;
	gap: 8px;
	cursor: pointer;
}

.btn:hover {
	background-color: #0a0f290a;
}

.separator {
	width: 238px;
	transform: translateX(-6px);
	border-top: 1px solid #dee0e3;
}

.filtersBtn {
	transform: translateX(-6px);
	gap: 12px;
	min-width: 120px;
	max-width: 160px;
	color: #0f132499;
}

.toggle {
	width: 28px;
	height: 16px;
	background: #babdc5;
	border-radius: 8px;
	display: flex;
	padding: 0 2px;
	align-items: center;
}

.toggle > span {
	display: block;
	background: #ffffff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.toggle.active {
	justify-content: end;
	background: #924fe8;
}

.flex {
	display: flex;
	align-items: center;
	gap: 8px;
}

.scrollContainer {
	padding: 8px 0;
	overflow-y: auto;
	scrollbar-gutter: stable;
	width: 100%;
}

.scrollContainer::-webkit-scrollbar {
	appearance: none;
	width: 2px;
}

.scrollContainer::-webkit-scrollbar-button {
	display: none;
}

.scrollContainer::-webkit-scrollbar-thumb {
	display: block;
	background-color: rgba(222, 225, 232, 1);
	border-radius: 2px;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0 8px;
	max-width: 100%;
}

.noComments {
	margin-left: 12px;
}
