.panel {
	position: absolute;
	top: -60px;
	left: var(--absolute-position-panel-padding);
	overflow: hidden;
}

.logoWrapper.viewMode {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

.tabletHide.viewMode {
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	/* padding: 12px 14px; */
	text-decoration: none;
	color: var(--text-base-primary);
	font-size: 16px;
	font-weight: 400;
}

.name {
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto;
	overflow: hidden;
	color: var(--text-base-primary);
	font-size: 16px;
	font-weight: 400;
}

input.rename {
	font-size: 16px;
	font-weight: 400;
}

.exportDropdown {
	position: absolute;
	top: calc(100% + var(--absolute-position-panel-padding));
	left: 86%;
	background-color: white;
	border: 1px solid rgba(204, 204, 204, 0.5);
	width: 300px;
	z-index: 10;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.exportDropdown > div {
	padding: 10px;
	cursor: pointer;
	border-radius: 8px;
}

.exportDropdown > div:hover {
	background-color: #0a0f290a;
}

.exportDropdownItemTitle {
	display: flex;
	align-items: center;
	gap: 8px;
}

.exportDropdown strong {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

.exportDropdown p {
	margin: 0;
	color: #666;
	font-size: 12px;
}

.betaTag {
	padding: 4px 8px;
	font-size: 10px;
	color: #007bff;
	background-color: #e0f0ff;
	border-radius: 4px;
	font-weight: 600;
}

@media screen and (max-width: 520px) {
	.mobileHide {
		display: none;
	}

	.menuButton {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}

@media screen and (max-width: 680px) {
	.tabletHide {
		display: none;
	}

	.logoWrapper {
		border-top-right-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}
}
