@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "microboard-temp/style";

:root {
  --background-surface-default: rgb(255, 255, 255);
  --background-button-secondary: rgb(255, 255, 255);
  --background-button-secondary-hover: rgb(247, 247, 248);
  --background-badge-purple-disabled: rgb(247, 241, 253);
  --background-badge-gray: rgb(233, 234, 236);
  --background-accent-purple: rgb(146, 79, 232);

  --border-action-normal: rgb(222, 223, 227);
  --border-action-focus: rgb(146, 79, 232);
  --border-select-primary: rgb(146, 79, 232);

  --text-base-primary: rgb(20, 21, 26);
  --text-base-secondary: rgba(15, 19, 36, 0.6);
  --text-base-quaternary: rgb(10, 15, 41, 0.25);
  --text-accent-purple: rgb(152, 89, 233);

  --icon-base-primary: rgb(20, 21, 26);
  --icon-base-secondary: rgb(105, 107, 118);
  --icon-accent-purple: rgb(146, 79, 232);

  --absolute-position-panel-padding: 12px;
}

[data-theme="dark"] {
  --background-surface-default: rgb(30, 31, 38);
  --background-button-secondary: rgb(30, 31, 38);
  --background-button-secondary-hover: rgb(42, 43, 52);
  --background-badge-purple-disabled: rgb(40, 28, 60);
  --background-badge-gray: rgb(45, 46, 55);
  --background-accent-purple: rgb(146, 79, 232);

  --border-action-normal: rgb(52, 53, 62);
  --border-action-focus: rgb(146, 79, 232);
  --border-select-primary: rgb(146, 79, 232);

  --text-base-primary: rgb(232, 233, 240);
  --text-base-secondary: rgba(232, 233, 240, 0.6);
  --text-base-quaternary: rgba(232, 233, 240, 0.25);
  --text-accent-purple: rgb(172, 120, 245);

  --icon-base-primary: rgb(232, 233, 240);
  --icon-base-secondary: rgb(148, 150, 165);
  --icon-accent-purple: rgb(146, 79, 232);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-base-primary);
  background-color: var(--background-surface-default);
  font-size: 1.6rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Manrope", sans-serif;
}

html,
body {
  overscroll-behavior-x: none;
  -webkit-user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

[data-theme="dark"] input:-webkit-autofill,
[data-theme="dark"] input:-webkit-autofill:hover,
[data-theme="dark"] input:-webkit-autofill:focus,
[data-theme="dark"] input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(30, 31, 38) inset !important;
  -webkit-text-fill-color: rgb(232, 233, 240) !important;
}
