.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background-color: white;
}

.form {
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.link {
  font-family: "Manrope", "Arial";
  font-weight: 600;
  font-size: 14px;

  text-decoration: none;
  color: #6c7173;
  align-self: flex-start;

  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: #6c7173;
}

.title {
  font-family: "Manrope", "Arial";
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.error {
  color: red;
}

.button {
  margin-top: 32px;
  font-family: "Manrope", "Arial";
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  border: 1px solid #14151a;
  border-radius: 12px;
  background-color: #14151a;
  color: white;
  cursor: pointer;
  outline-color: transparent;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.button:disabled {
  border-color: #e9eaec;
  background-color: #e9eaec;
  color: rgba(10, 15, 41, 0.25);
}

.button:disabled:hover {
  cursor: not-allowed;
  border-color: #e9eaec;
  background-color: #e9eaec;
  color: rgba(10, 15, 41, 0.25);
}

.button:active {
  outline: 2px solid rgba(200, 178, 255, 0.5);
}

.button:hover {
  background-color: #1f2228;
}

.forgot {
  font-weight: 600 !important;
}

.btns {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;

  margin-top: 16px;
}

.anotherBtns {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 40px;
}

@media screen and (max-width: 640px) {
  .title {
    margin-bottom: 8px;
  }

  .policy {
    font-size: 14px;
    text-align: center;

    margin-bottom: 20px;
  }

  .policyLink {
    text-decoration: none;
  }

  .policyLink::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
  }

  .btns {
    margin-top: 8px;
  }
}
