.modalBg {
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 0;
    touch-action: none;
    z-index: 9999;
    background: rgb(118 118 118 / 50%);
}

.wrapper {
    width: 400px;
    height: 320px;
    padding: 24px;
    background: white;
    border-radius: 24px;
}

.linkContainer {
    display: flex;
    gap: 8px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    background: #f1f1f1;
    padding: 4px;
}

.linkContainer > span {
    display: block;
    max-width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}