.tipContainer {
  display: none;
  position: absolute;
  user-select: none;
  pointer-events: none;
  justify-items: center;
  z-index: 200;
}

.topCenterFixed {
  position: fixed;
  bottom: 7.6rem;
  left: 17.2rem;
  z-index: 100;
}

.topRightFixed {
  position: fixed;
  /*pass position with inline styles*/
  z-index: 100;
}

@media screen and (hover: hover) {
  :has(> .tipContainer):hover > .tipContainer,
  button:hover .tipContainer {
    display: flex;
  }
}

.tip {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.primaryTip {
  border-radius: 6px;
  background-color: rgb(11, 12, 14);
  color: rgb(247, 247, 247);
}

.secondaryTip {
  display: block;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 10px 16px -3px rgba(20, 21, 26, 0.08);
  color: rgba(71, 120, 245, 1);
  background-color: #ffffff;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tip.paddingMd {
  padding: 12px 16px;
}

.tip.radiusMd {
  border-radius: 8px;
}

.tipText {
  flex: 1 0;
  white-space: nowrap;
}

.tipText.wrap {
  white-space: normal;
}

.tipText.center {
  text-align: center;
}

.tipText.left {
  text-align: left;
}

.primaryTip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.8rem solid rgb(11, 12, 14);
  border-radius: 8px;
}

.tipContainer.topCenterFixed .primaryTip::before {
  left: 4%;
  margin-left: -0.7rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}

.tipContainer.topRightFixed .primaryTip::before {
  left: 0.5rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}

.tipContainer.right .primaryTip::before {
  left: -0.8rem;
  transform: rotate(-90deg);
}

.tipContainer.right {
  left: calc(100% + 1.2rem);
}

.tipContainer.top .primaryTip::before {
  left: 50%;
  margin-left: -0.7rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}

.tipContainer.top {
  bottom: calc(100% + 1.2rem);
}

.tipContainer.topRight .primaryTip::before {
  right: 2.5rem;
  margin-right: -0.7rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}

.tipContainer.topRight {
  bottom: calc(100% + 1.2rem);
  right: -1rem;
}

.tipContainer.topLeft .primaryTip::before {
  left: 2.5rem;
  margin-right: -0.7rem;
  bottom: -0.6rem;
  transform: rotate(180deg);
}

.tipContainer.topLeft {
  bottom: calc(100% + 1.2rem);
  left: -1rem;
}

.tipContainer.bottomRight .primaryTip::before {
  right: 2.5rem;
  margin-right: -0.7rem;
  top: -0.6rem;
}

.tipContainer.bottomRight {
  top: calc(100% + 1.2rem);
  right: -1rem;
}

.tipContainer.bottomLeft .primaryTip::before {
  left: 2.5rem;
  margin-right: -0.7rem;
  top: -0.6rem;
}

.tipContainer.bottomLeft {
  top: calc(100% + 1.2rem);
  left: -1rem;
}

.tipContainer.bottomLeftNoWhitespace {
  top: calc(100% + 0.5rem);
  left: 0;
}

.tipContainer.bottom .primaryTip::before {
  left: 50%;
  margin-left: -0.7rem;
  top: -0.6rem;
}

.tipContainer.bottom {
  top: calc(100% + 1.2rem);
  left: 50%;
  transform: translateX(-50%);
}

.withoutArrowTip {
  border-radius: 6px;
  background-color: rgb(11, 12, 14);
  color: rgb(247, 247, 247);
}

.withoutArrowTip::before {
  display: none;
}
