.tip-container {
	display: none;
	position: absolute;
	user-select: none;
	pointer-events: none;
	justify-items: center;
	z-index: 200;
}

.top-center-fixed {
	position: fixed;
	bottom: 7.6rem;
	left: 17.2rem;
	z-index: 100;
}

.top-right-fixed {
	position: fixed;
	/*pass position with inline styles*/
	z-index: 100;
}

@media screen and (hover: hover) {
	:has(> .tip-container):hover > .tip-container,
	button:hover .tip-container {
		display: flex;
	}
}

.tip {
	padding: 8px 12px;
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 1.4rem;
	font-weight: 400;
}

.primaryTip {
	border-radius: 6px;
	background-color: rgb(11, 12, 14);
	color: rgb(247, 247, 247);
}

.secondaryTip {
	display: block;
	padding: 12px;
	border-radius: 12px;
	box-shadow: 0px 10px 16px -3px rgba(20, 21, 26, 0.08);
	color: rgba(71, 120, 245, 1);
	background-color: #ffffff;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tip.padding-md {
	padding: 12px 16px;
}

.tip.radius-md {
	border-radius: 8px;
}

.tip-text {
	flex: 1 0;
	white-space: nowrap;
}

.tip-text.wrap {
	white-space: normal;
}

.tip-text.center {
	text-align: center;
}

.tip-text.left {
	text-align: left;
}

.primaryTip::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0.7rem solid transparent;
	border-right: 0.7rem solid transparent;
	border-bottom: 0.8rem solid rgb(11, 12, 14);
	border-radius: 8px;
}

.tip-container.top-center-fixed .primaryTip::before {
	left: 4%;
	margin-left: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top-right-fixed .primaryTip::before {
	left: 0.5rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.right .primaryTip::before {
	left: -0.8rem;
	transform: rotate(-90deg);
}

.tip-container.right {
	left: calc(100% + 1.2rem);
}

.tip-container.top .primaryTip::before {
	left: 50%;
	margin-left: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top {
	bottom: calc(100% + 1.2rem);
}

.tip-container.top-right .primaryTip::before {
	right: 2.5rem;
	margin-right: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top-right {
	bottom: calc(100% + 1.2rem);
	right: -1rem;
}

.tip-container.top-left .primaryTip::before {
	left: 2.5rem;
	margin-right: -0.7rem;
	bottom: -0.6rem;
	transform: rotate(180deg);
}

.tip-container.top-left {
	bottom: calc(100% + 1.2rem);
	left: -1rem;
}

.tip-container.bottom-right .primaryTip::before {
	right: 2.5rem;
	margin-right: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom-right {
	top: calc(100% + 1.2rem);
	right: -1rem;
}

.tip-container.bottom-left .primaryTip::before {
	left: 2.5rem;
	margin-right: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom-left {
	top: calc(100% + 1.2rem);
	left: -1rem;
}

.tip-container.bottom-left-noWhitespace {
	top: calc(100% + 0.5rem);
	left: 0;
}

.tip-container.bottom .primaryTip::before {
	left: 50%;
	margin-left: -0.7rem;
	top: -0.6rem;
}

.tip-container.bottom {
	top: calc(100% + 1.2rem);
}

.withoutArrowTip {
	border-radius: 6px;
	background-color: rgb(11, 12, 14);
	color: rgb(247, 247, 247);
}

.withoutArrowTip::before {
	display: none;
}
