.blackout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.closeBtn {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	padding: 0;
	border-radius: 4px;
	min-width: 20px;
	min-height: 20px;
	color: rgba(13, 17, 38, 0.4);
}

.modalWrapper {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* max-width: calc(100dvw - 20px);
	max-height: calc(100dvh - 20px); */
	overflow: hidden;
	border-radius: 12px;
	z-index: 1000;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

.closeBtnWrapper {
	display: flex;
	justify-content: flex-end;
}

.panel {
	max-height: 100%;
	width: 100%;
	position: relative;
	flex-direction: column;
	align-items: stretch;
	overflow: auto;
	padding: 0;
}

.content {
	width: 100%;
	height: 100%;
}

.opacityEnter {
	opacity: 0;
	z-index: 1002;
}

.opacityEnterActive {
	opacity: 1;
	transition: opacity 300ms;
	z-index: 1002;
}

.opacityEnterDone {
	z-index: 1002;
}

.opacityExit {
	opacity: 1;
	z-index: 1001;
}

.opacityExitActive {
	opacity: 0;
	transition: opacity 300ms;
	z-index: 1001;
}

.opacityExitActiveTransition {
	opacity: 0;
	z-index: 1001;
	transition: opacity 300ms;
	transition-delay: 150ms;
}

.opacityExitDone {
	z-index: 1001;
}

.panel::-webkit-scrollbar {
	appearance: none;
	width: 3px;
	height: 3px;
}
.panel::-webkit-scrollbar-button {
	display: none;
}
.panel::-webkit-scrollbar-thumb {
	display: block;
	background-color: rgba(233, 234, 236, 1);
	border-radius: 2px;
}
body {
	background-color: rgba(200, 200, 200, 0.2);
}

.header {
	padding: 12px 30px;
	border-bottom: 1px solid rgba(222, 224, 227, 1);
	font-size: 16px;
	font-weight: 500;
	align-items: center;
	gap: 8px;
	display: none;
	width: 100%;
}

@media screen and (max-width: 1028px) {
	.closeBtn {
		display: none;
	}
	.header {
		display: flex;
	}

	.modalWrapper,
	.panel,
	.content {
		max-width: 100%;
		max-height: none;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}

	.modalWrapper {
		inset: 0;
		top: 0;
		left: 0;
		transform: none;
		overflow: auto;
		border-radius: 0;
	}

	.panel {
		border-radius: 0;
		height: max-content;
		min-height: 100%;
		align-items: start;
	}

	.content {
		height: max-content;
		min-height: 100%;
	}
}
