.button {
	min-width: auto;
	min-height: auto;
	font-size: 1.6rem;
	font-weight: 500;
}

@media (hover: hover) {
	.button:hover:not([disabled]) {
		background-color: transparent;
		color: rgba(20, 129, 221, 1);
	}
}
