.sidePanel {
	transition: max-width 0.3s;
	overflow: hidden;
	max-width: 0;
	display: block;
	box-shadow: none;
	border: none;
	margin-left: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.sidePanel.open {
	max-width: 35dvw;
	min-width: 150px;
	visibility: visible;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid var(--border-action-normal);
	margin-left: 12px;
}

.content {
	padding: 8px 0;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 0;
}

.folders {
	flex: 1 1 500px;
	overflow: auto;
	height: calc(100% - 100px);
}

.folders::-webkit-scrollbar {
	appearance: none;
	width: 2px;
}

.folders::-webkit-scrollbar-button {
	display: none;
}

.folders::-webkit-scrollbar-thumb {
	display: block;
	background-color: rgba(222, 225, 232, 1);
	border-radius: 2px;
}

.header {
	padding: 6px 12px;
	display: flex;
	gap: 4px;
	align-items: center;
}

.title {
	font-weight: 500;
	font-size: 14px;
	flex: 1 0;
	padding: 4px 8px;
	line-height: 20px;
}

.close {
	--padding: 4px;
	--radius: 0;
	--min-width: 28px;
	--min-height: 28px;
	color: var(--text-base-primary);
}

.importMiroBtn {
	padding: 0 16px 16px;
}

.bottom {
	padding: 14px 16px;
	display: flex;
	justify-content: stretch;
	align-items: center;
}
.add {
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex: 1 0;
	padding: 6px;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 500;
	cursor: pointer;
	background: none;
	border: 1px solid rgb(222, 223, 227);
	border-radius: 10px;
	box-shadow: 0px 1px 2px 0px rgba(20, 21, 26, 0.05);
}
