.baseStyle {
  height: 40px;
  max-width: 252px;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: "Manrope";
  font-weight: 600;
  background-color: #5980de;
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}
