.fadeEnter {
	opacity: 0;
	transform: translateX(-6px);
}
.fadeEnterActive {
	opacity: 1;
	transform: translateX(0px);
	transition:
		opacity 500ms,
		transform 500ms;
}
.fadeExit {
	opacity: 1;
	transform: translateX(0);
}
.fadeExitActive {
	opacity: 0;
	transform: translateX(-6px);
	transition:
		opacity 500ms,
		transform 500ms;
}
