.btn {
	margin-left: auto;
	position: relative;
	z-index: 10;
	color: #696b76;
	background-color: rgba(10, 15, 41, 0.04);
	visibility: hidden;
	transition: 0.25s;
	opacity: 0%;
}

.btn:hover,
.btn:active,
.btn:focus {
	color: #696b76;
	background-color: rgba(10, 15, 41, 0.04);
}

.userListItem {
	border-radius: 10px;
	position: relative;
	transition: 0.25s;
}

.userListItem:hover {
	background-color: #f5f6f7;
}

.userListItem:hover .btn {
	visibility: visible;
	opacity: 100%;
}

.userActionsContainer {
	position: relative;
	margin-left: auto;
}

.userActionsDropdown {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 20;
	display: flex;
	flex-direction: column;
	background-color: white;
	gap: 4px;
	border: 1px solid #dee0e3;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	min-width: 160px;
	padding: 6px;
}

.dropdownButton {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 8px;
	width: 100%;
	text-align: left;
	padding: 8px;
	width: 230px;
}

.dropdownButton:hover {
	background-color: #f5f5f5;
}

.btnBring {
	background-color: #14151a !important;
}

.btnStop {
	background-color: transparent;
	border: 1px solid #dee0e3;
}

.noResults {
	text-align: center;
	color: #888;
	padding: 16px;
	font-style: italic;
}

.noResultsTerm {
	margin: 0;
	padding: 0;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.idleAvatar {
	opacity: 50%;
}

.idleHide {
	opacity: 0.6;
}

.nickname {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.idle {
	font-size: 12px;
	font-weight: 400;
}

.icon {
	color: #696b76;
}

.tracked {
	border: 1px solid;
}
