.heading {
	font-size: 30px;
	font-weight: 600;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}

.notAuth {
	font-size: 14px;
	line-height: 20px;
}

.modalContainer {
	max-width: 800px;
}

.wrapper {
	width: 100%;
	padding: 20px 52px;
}

.settings {
	padding-top: 20px;
}

.settingsHeading {
	font-size: 14px;
	font-weight: 700;
}

.publicMsg {
	font-size: 12px;
}

.selectors {
	display: grid;
	grid-template-columns: 1fr 0px;
	padding-top: 12px;
	padding-bottom: 8px;
	transition: grid-template-columns 0.3s ease;
	align-items: stretch;
}

.selector {
	overflow: hidden;
}

.grantedUserSelector {
	min-width: 190px;
}

.secondInputBtn {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	border: none;
	background: none;
	margin-top: 12px;
	font-size: 16px;
	color: #4778f5;
	font-weight: 500;
}

.selectors.modeVisible {
	grid-template-columns: 1fr 230px;
	gap: 16px;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 24px;
	gap: 16px;
}

.btns .btn {
	width: auto;
	padding: 10px 12px;
}

.grantedUser {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.userInfo {
	display: flex;
	gap: 12px;
}

.userInfoText {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2px;
}

.avatar {
	width: 40px;
	height: 40px;
}

.avatar img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.userStatus {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.userName {
	font-size: 14px;
	font-weight: 400;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.userEmail {
	font-size: 14px;
	font-weight: 400;
	color: rgba(13, 17, 38, 0.4);
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.usersList {
	padding-top: 12px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.ownerLabel {
	font-size: 14px;
	font-weight: 500;
	color: rgba(13, 17, 38, 0.4);
}

.grantedUsers {
	padding-top: 24px;
}

.copyBtn {
	color: rgba(20, 21, 26, 1);
	font-weight: 500;
}

.copyIcon {
	color: rgba(105, 107, 118, 1);
	display: grid;
	place-items: center;
}

.fadeEnter {
	opacity: 0;
	transform: translateX(-6px);
}
.fadeEnterActive {
	opacity: 1;
	transform: translateX(0px);
	transition:
		opacity 500ms,
		transform 500ms;
}
.fadeExit {
	opacity: 1;
	transform: translateX(0);
}
.fadeExitActive {
	opacity: 0;
	transform: translateX(-6px);
	transition:
		opacity 500ms,
		transform 500ms;
}

.skeletonAvatar {
	border-radius: 50%;
}

.skeletonInfo {
	width: 200px;
	height: 14px;
}

.skeletonSelector {
	width: 200px;
	height: 40px;
}
