.inputContainer {
	position: fixed;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 144px);
	max-width: 720px;
	min-height: 48px;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	border: none;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(-50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-49%);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(-51%);
	}
}

.inputContainer.shake {
	animation: shake 1s ease-in-out;
}

.contentWrapper {
	width: 100%;
	padding: 14px 12px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-color: white;
	position: relative;
	border-radius: 12px;
	border: 1px solid rgb(222, 223, 227);
}

.modelSelector {
	position: relative;
	display: flex;
	align-items: center;
}

.selectedModel {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 8px;
	padding: 0 4px;
	font-weight: 500;
}

.selectedModel svg {
	opacity: 0.4;
}

.modelDropdown {
	position: absolute;
	bottom: calc(100% + 24px);
	left: -10px;
	background-color: white;
	border: 1px solid rgba(204, 204, 204, 0.5);
	width: 300px;
	z-index: 10;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 5px;
}

.modelBtn {
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 8px;
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modelBtn:hover:not(:disabled) {
	background-color: #0a0f290a;
}

.modelBtn strong {
	display: block;
	margin-bottom: 5px;
	font-weight: normal;
	color: black;
}

.modelBtn p {
	margin: 0;
	color: #666;
	font-size: 12px;
}

.modelBtn:disabled,
.modelBtn:disabled p,
.modelBtn:disabled strong {
	color: rgba(204, 204, 204, 0.8);
	cursor: not-allowed;
}

.aiInput {
	flex-grow: 1;
	border: none;
	margin-left: 5px;
	margin-top: 2px;
	max-width: 405px;
	resize: none;
	font-size: 14px;
	font-family: "Manrope";
	font-weight: 400;
	overflow-y: auto;
	box-sizing: border-box;
	max-height: 120px;
	line-height: 1.5;
}

.aiInput:focus {
	outline: none;
}

.aiInput::-webkit-scrollbar {
	width: 6px;
}

.aiInput::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
}

.aiInput::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #e9eaec;
}

.sendButton {
	background: none;
	border: none;
	cursor: pointer;
	margin-left: 10px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #b1b3bb;
}

.selectionInfo {
	margin-left: 10px;
	background-color: #e9eaec;
	padding: 0 6px;
	border-radius: 8px;
	color: rgba(15, 19, 36, 0.6);
	font-size: 14px;
	font-family: "Manrope";
	font-weight: 500;
}

.activeSelection {
	background-color: #ecdffb;
}

.activeIcon {
	color: #924fe8;
}

.starIcon {
	margin-left: 5px;
}

.arrow {
	transition: all 0.45s ease-in-out;
}

.activeArrow {
	transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
	.selectionInfo {
		position: absolute;
		left: 0;
		bottom: calc(100% + 4px);
		padding: 0;
		border-radius: 0;
		background: none;
	}
}

@media screen and (max-width: 640px) {
	.starIcon {
		display: none;
	}

	.modelBtn {
		text-align: left;
	}
}

@media screen and (max-width: 425px) {
	.inputContainer {
		width: calc(100% - 87px);
		transform: translateX(-39%);
	}

	.contentWrapper {
		padding: 10px;
		align-items: center;
	}

	.modelSelector {
		position: unset;
	}

	.modelDropdown {
		width: 100%;
		left: 0;
		bottom: calc(100% + 7px);
	}

	.selectedModel {
		font-size: 14px;
		white-space: nowrap;
	}
}
