.planUsage {
  font-size: 16px;
  color: var(--text-base-secondary);
  text-align: left;
  width: 100%;
}

.planHighlight {
  font-weight: 600;
}

.basicPlan {
  color: var(--text-base-primary);
}

.plusPlan {
  color: #b78af0;
}

.proPlan {
  color: #7ccba1;
}

.planUsageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.paymentActions {
  font-size: 16px;
  color: var(--text-base-secondary);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

@media screen and (max-width: 748px) {
  .planUsage {
    font-size: 16px;
  }
}

.link {
  font-family: "Manrope", Arial;
  font-size: 16px;

  position: relative;
  color: var(--text-base-secondary);
  text-decoration: none;
}

.link:hover {
  color: #b78af0;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--background-hover-subtle-strong);
}

.link:hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(200, 178, 255, 0.5);
}

@media screen and (max-width: 640px) {
  .link::after {
    content: none;
  }
}

.limitsBtn {
  color: #4778f5;
  font-size: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
}

.cancel {
  font-size: 16px;
  color: var(--text-base-secondary);
  cursor: pointer;
  text-decoration: underline;
}
